
/* 게시글의 댓글 상단 바 */

.topic-comments-bar {
  justify-content: space-between;
  display: flex;
  padding: 12px 16px;
  background-color: #f8f9fa;
  border: 1px solid #DCDCDC;
  font-size: 16px;
  margin-bottom: 4px;
}

.comment-count {
  font-weight: bold;
  color: #333;
  margin: 0;
  display: flex;
  gap: 6px;
}

.comment-count p {
  margin: auto;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.comment-count p:last-child {
  background-color: #DCDCDC;
  border-radius: 33px;
  padding: 0 9px 0 9px;
  color: #FF6347;
}

.add-comment-button {
  padding: 1px 9px;
  border: 2px solid #c6c6c6;
  background-color: #DCDCDC;
  color: #333;
}
 
.add-comment-button:hover {
  color: #FF6347;
}



/* 개별 댓글 */

.comment-container {
  font-size: 16px;
  padding: 6px 8px;
  margin-left: 0;
}

.comment {
  border-bottom: 1px solid #DCDCDC;
}

.re-comment {
  margin-left: 33px;
  border-top: 1px solid #DCDCDC;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
  color: #888;
}

.comment-options {
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.comment-image {
  max-width: 240px; /* 최대 너비를 부모 요소의 너비로 제한 */
  max-height: 120px; /* 최대 높이를 400px로 제한 */
  width: auto; /* 비율을 유지한 채 크기 조정 */
  height: auto;
}

.comment-footer {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888;
  font-size: 12px;
}
  
.comment-likes {
  justify-content: center;   /* 중앙 정렬 */
  align-items: center;       /* 세로 중앙 정렬 */
  display: flex;             /* 가로로 배치 */
  gap: 4px;
}

.comment-likes * {
  justify-content: center;   /* 중앙 정렬 */
  align-items: center;       /* 세로 중앙 정렬 */
  display: flex;             /* 가로로 배치 */
}
  
.comment-reply-button {
  border: none;
  background: none;
  color: #3b6de8;
  cursor: pointer;
  display: flex;
  gap: 3px;
}

.comment-date {
  margin-left: auto;
}
  

/* 댓글 작성 폼 */
.comment-post-header {
  border-radius: 6px 6px 0 0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: #f5f5f5;
}

.comment-post-username {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.comment-post-image-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

.comment-post-content {
  border-radius: 0 0 6px 6px;
  font-size: 18px;
}
