
.topic-view {
   padding-left: 3%;
   padding-right: 3%;
}

.topic-view > * {
   padding : 1%
}


.topic-title {
   display: flex;
   margin-bottom: 0%;
}

.topic-title > * {
   font-weight: bold;
}


.topic-header {
   padding-top: 3%;
   padding-bottom: 2%;
   border-top: 1px solid #DCDCDC;
   border-bottom: 1px solid #DCDCDC;
}

.topic-author {
   font-size: 16px;
   font-weight: bold;
}

.topic-meta {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.topic-meta * {
   margin: 0;
   font-size: 14px;
   color: #555;
}


.topic-content {
   padding-top: 3%;
   font-size: 16px;
}


.topic-votes {
   display: flex;
   justify-content: space-between; /* 버튼들 사이에 간격을 띄워줍니다 */
   width: 50vw; /* 화면의 가로 50% 차지 */
   aspect-ratio: 3 / 2; /* 가로 3: 세로 2 비율 */
   padding: 10px; /* 여백 추가 (필요시 조정) */
}


.topic-scrap button,
.topic-votes button,
.topic-hashtag {
   background-color: #FF6347;
   color: white;
   border: none;
   padding: 8px 12px;
   border-radius: 4px;
   cursor: pointer;
}

.topic-scrap button:hover,
.topic-votes button:hover,
.topic-hashtag:hover {
   background-color: #ECB392;
}

.topic-hashtags {
   margin: 16px 0;
}

.topic-hashtag {
   margin: 4px;
   padding: 4px 8px;
   font-size: 14px;
   background-color: #e9ecef;
   color: #FF6347;
}

.topic-hashtag:hover {
   background-color: #ECB392;
   color: white;
}
