
.topic-view {
   padding-left: 3%;
   padding-right: 3%;
}

.topic-view > * {
   padding : 1%;
}


.topic-title {
   margin-bottom: 0%;
}

.topic-title > * {
   font-weight: bold;
}


.topic-header {
   padding-top: 3%;
   padding-bottom: 2%;
   border-top: 1px solid #DCDCDC;
   border-bottom: 1px solid #DCDCDC;
}

.topic-author {
   font-size: 16px;
   font-weight: bold;
}

.topic-meta {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.topic-meta * {
   margin: 0;
   font-size: 14px;
   color: #555;
}

.topic-view-count {
   justify-content: center;   /* 중앙 정렬 */
   align-items: center;       /* 세로 중앙 정렬 */
   display: flex;             /* 가로로 배치 */
   background-color: #DCDCDC;
   text-align: center;
   margin-right: 3px;
   border-radius: 33px;
   padding: 0 6px 0 6px;
   display: flex;
   gap: 6px;
}


.topic-content {
   padding-top: 3%;
   font-size: 16px;
}


.topic-votes {
   justify-content: center;   /* 중앙 정렬 */
   align-items: center;       /* 세로 중앙 정렬 */
   display: flex;             /* 가로로 배치 */
   gap: 10%;                  /* 버튼 간의 간격을 설정 */
   padding: 5%
}


.topic-hashtag {
   margin: 4px;
   padding: 4px 8px;
   font-size: 14px;
   background-color: #e9ecef;
   color: #FF6347;
   border: none;
   border-radius: 4px;
}

.topic-hashtag:hover {
   background-color: #ECB392;
   color: white;
}

.topic-hashtag-area {
   margin: 16px 0;
}
