.modal-button {
    background-color: "#feb98e" !important;
    border: "none" !important;
    color: "white" !important;
    font-weight: "bold";
    padding: "10px 20px";
    border-radius: "5px";
    cursor: pointer;
}