.custom-font {
    font-family: 'Ownglyph_ParkDaHyun', sans-serif !important;
}


/**************************************
*** 기본 폰트사이즈 ***
*** 두꺼운 글씨체 ***
*** 검정색 글씨 ***
****************************************/
.font-size-1{
    font-size: 24px;
    font-weight: bold;
}

/**************************************
*** 설명용 폰트 ***
*** 기본 두께 ***
*** 회색 글씨 ***
*** DCDCDC 너무 안보여서 새로 생성 ***
****************************************/
.font-size-2{
    font-size: 20px;
    color: #a3a3a3 ;
}