.quiz-button {
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  width: 80px;
  box-sizing: border-box;
}

.add-button {
  border: 2px solid #feb98e;
  color: #feb98e;
  background-color: transparent;
}

.save-button {
  border: 2px solid #4caf50;
  color: #4caf50;
  background-color: transparent;
}

.cancel-button {
  border: 2px solid #f44336;
  color: #f44336;
  background-color: transparent;
}

.edit-button {
  border: 2px solid #FEBE98 ;
  color: #FEBE98 ;
  background-color: transparent;
}

.delete-button {
  border: 2px solid #f44336;
  color: #f44336;
  background-color: transparent;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.table-cell {
  text-align: center;
  vertical-align: middle;
  padding: 4px;
}
