/* FloatingActionButton.css */
.floating-button {
  position: fixed;
  bottom: 70px;
  right: 670px;
  background-color: #ff6b6b;
  color: white;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px; /* 모바일에서는 글자 크기를 약간 키워도 됨 */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  z-index: 5000; /* 다른 요소 위에 표시 */
}

.floating-button:hover {
  background-color: #ff4f4f;
}

/* 모바일 화면에 최적화 */
@media (max-width: 480px) {
  .floating-button {
    width: 50px;
    height: 50px;
    font-size: 24px; /* 모바일 화면에서 버튼 크기 줄이기 */
    bottom: 70px; /* 모바일에서는 더 아래로 내림 */
    right: 20px; /* 모바일 화면에서도 오른쪽 20px 고정 */
  }
}
