.cashbook-annual-expense-stats {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px; /* 원하는 만큼 여백을 추가 */
}

.cashbook-annual-expense-statsh2 {
  margin-top: 30px; /* 원하는 만큼 여백을 추가 */
}

.cashbook-chart-container {
  margin: 20px 0;
  width: 100%; /* 부모 요소에 맞게 100% 크기로 설정 */
  max-width: 100%; /* 최대 크기 설정 */
}

/* 월별 지출 리스트에 대한 스타일 조정 */
.cashbook-monthly-expense-list {
  margin-top: 20px;
}

.cashbook-monthly-expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  flex-wrap: wrap; /* 모바일 화면에서 아이템들이 한 줄로 넘치지 않도록 설정 */
}

.cashbook-monthly-expense-bar {
  height: 10px;

  border-radius: 5px;
  margin-right: 0px;
  background-color: green;
}

.cashbook-monthly-expense-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

/* 미디어 쿼리로 모바일 화면 크기에 맞춰서 차트와 텍스트 크기 조정 */
