.category-expense-stats h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.category-expense-stats h4 {
  font-size: 1.2rem;
  font-weight: normal;
  color: #333;
}

.progress-row {
  font-size: 1rem;
}

.progress-bar-0 .progress-bar {
  background-color: #ff6384 !important; /* 간식: 빨간색 */
}

.progress-bar-1 .progress-bar {
  background-color: #36a2eb !important; /* 병원비: 파란색 */
}

.progress-bar-2 .progress-bar {
  background-color: #ffce56 !important; /* 미용비: 노란색 */
}

.progress-bar-3 .progress-bar {
  background-color: #4bc0c0 !important; /* 장난감: 청록색 */
}

.progress-bar-4 .progress-bar {
  background-color: #9966ff !important; /* 의류: 보라색 */
}

.progress-bar-5 .progress-bar {
  background-color: #f4e9e9 !important; /* 사료: 주황색 */
}
.progress-bar-6 .progress-bar {
  background-color: #3bb408 !important; /* 산책용품: 주황색 */
}
.progress-bar-7 .progress-bar {
  background-color: #4d08b4 !important; /* 미용용품: 주황색 */
}
.progress-bar-8 .progress-bar {
  background-color: #9208b4 !important; /* 위생용품: 주황색 */
}
.progress-bar-9 .progress-bar {
  background-color: #ff9f40 !important; /* 기타: 주황색 */
}

.text-start {
  font-weight: bold;
}

.text-end {
  font-weight: bold;
}

.progress {
  background-color: #f3f3f3;
  border-radius: 20px;
  height: 25px;
}
