.cashbook-search-expenses-container {
  max-width: 600px !important;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden; /* 수평 스크롤 방지 */
  margin-bottom: 10px;
  overflow: visible !important; /* 부모 컨테이너에서 잘리지 않도록 설정 */
  position: relative; /* 자식의 position: absolute가 부모 기준으로 작동하게 함 */
}

.cashbook-search-date-picker-sections {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 13px;
}

.cashbook-search-date-picker {
  position: relative; /* 부모 요소 기준 위치 설정 */
  overflow: visible; /* 튀어나간 부분 허용 */
}

.cashbook-datepicker-input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.cashbook-filter-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}

.cashbook-results-section {
  margin-top: 20px;
  overflow-x: hidden; /* 수평 스크롤 방지 */
}

.cashbook-search-total-expense {
  font-size: 1.5em;
  color: #ff6b6b;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.cashbook-expense-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cashbook-searches-button {
  display: block; /* 버튼을 블록 레벨로 설정 */
  margin: 20px auto 0;
  padding: 15px;
  background-color: #ff6b6b;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  width: 300px;
  height: 40px;
  padding: 15px 30px;
  margin-left: auto; /* 버튼을 왼쪽에서부터 자동으로 배치 */
  margin-right: auto; /* 버튼을 오른쪽에서부터 자동으로 배치 */
  text-align: center; /* 텍스트 가운데 정렬 */
  line-height: normal; /* 줄 높이를 기본값으로 설정 */
}

.cashbook-searches-button:hover {
  background-color: #ff4c4c;
}

/*여기부터는 내가추가*/

.cashbook-filter-section select {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.cashbook-search-expense-left {
  flex: 1;
}

.cashbook-search-expense-center {
  flex: 2;
  text-align: center; /* 가운데 정렬 */
}

.cashbook-search-expense-right {
  text-align: right;
}

.cashbook-expense-content {
  font-size: 16px;
  color: #333;
}

.cashbook-expense-amount {
  font-size: 16px;
  color: #ff6b6b;
  font-weight: bold;
  margin-top: 10px;
}

.cashbook-expense-payment {
  font-size: 14px;
  color: #666;
}

/* 검색 진행 상태 */
.cashbook-search-status {
  font-size: 1.2em;
  color: #ff6b6b;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.react-datepicker {
  transform: translateX(-20px); /* 왼쪽으로 20px 이동 */
}

.cashbook-search-animalDropdown {
  margin-top: 20px;
  max-height: 300px; /* 드롭다운의 최대 높이를 설정 */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

/* 반응형 대응 */
@media (max-width: 600px) {
  .cashbook-datepicker-modal {
    left: auto; /* 화면 왼쪽 기준 해제 */
    right: 0; /* 화면 오른쪽 맞춤 */
    transform: none; /* 이동 조정 해제 */
  }
}
