/* SlideDrawer.css */
.slide-drawer {
  position: fixed;
  top: 0;
  right: -100%; /* 슬라이드가 닫히면 화면 밖으로 사라짐 */
  width: 400px; /* 모바일 화면에 맞게 조정 */
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* 기본적으로 오른쪽 밖에 위치 */
  transition: transform 0.4s ease-in-out; /* 애니메이션 속도를 다소 느리게 설정 */
  padding: 30px;
  z-index: 1300;
  overflow-y: auto; /* 스크롤 추가 */
  border-top-left-radius: 20px; /* 왼쪽 상단 둥글게 */
  border-bottom-left-radius: 20px; /* 왼쪽 하단 둥글게 */
  border-top-right-radius: 0; /* 오른쪽 상단 둥글지 않게 */
  border-bottom-right-radius: 0; /* 오른쪽 하단 둥글지 않게 */
}

/*슬라이드가 열렸을 때 적용되는 스타일로 */
.slide-drawer.open {
  transform: translateX(0);
  /* 슬라이드가 열릴 때 transform: translateX(0);으로 슬라이드를 화면 안으로 끌어온다.*/
  right: 0; /* 슬라이드가 열릴 때 오른쪽에 위치 */
}

/* SlideDrawer의 닫기 버튼 스타일 */
.cashbook-close-button {
  position: absolute; /* 부모 요소에서 상대적으로 위치 */
  top: 15px; /* 화면 상단에서 15px 떨어지게 위치 */
  right: 40px; /* 오른쪽에서 40px 떨어지게 위치 */
  font-size: 1.4rem; /* 글씨 크기 */
  color: black; /* 글씨 색상은 검정색 */
  border: none; /* 기본 버튼 테두리 제거 */
  border-radius: 50%; /* 둥근 모양의 버튼 */
  width: 30px; /* 버튼의 너비 */
  height: 30px; /* 버튼의 높이 */
  cursor: pointer; /* 마우스를 올렸을 때 클릭할 수 있음을 표시하는 포인터 모양 */
}

.cashbook-close-button:hover {
  background-color: #f0f0f0; /* 버튼에 마우스를 올렸을 때 배경색 변경 */
}

/*슬라이드가 열렸을 때 적용되는 스타일로 transform: translateX(0);으로 슬라이드를 화면 안으로 끌어온다.*/
.drawer-content {
  padding: 20px;
  overflow-y: auto;
  font-size: 16px; /* 모바일에서는 글자 크기를 줄여줌 */
}

.drawer-content button {
  background-color: #ff6b6b;
  color: white;
  padding: 12px 24px; /* 버튼 크기 조정 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.drawer-content button:hover {
  background-color: #ff4f4f;
}

/* 모바일 화면에서 슬라이드 크기 조정 */
@media (max-width: 768px) {
  .slide-drawer {
    width: 90%; /* 모바일 화면에서는 너비를 90%로 설정 */
  }
}

@media (max-width: 480px) {
  .slide-drawer {
    width: 100%; /* 작은 모바일 화면에서는 너비를 100%로 설정 */
  }
}
