/* src/styles/place/PopularPlaces.css */

/* Card 전체 스타일 */
.popular-places-card {
  background-color: #ffffff; /* 카드 배경색 */
  border: 2px solid #feb98e; /* 기본 테두리 제거 */
  border-radius: 15px; /* 모서리 둥글게 */
  padding: 10px; /* 내부 패딩 */
  margin: 50px;
  color: rgb(0, 0, 0); /* 텍스트 색상 */
}

/* 카드 헤더 스타일 */
.popular-places-card .card-header {
  background-color: transparent; /* 카드 헤더 배경 투명하게 */
  border-bottom: 2px solid #feb98e; /* 하단 테두리 2px, solid, #feb98e */
  font-size: 1.5rem; /* 폰트 크기 조정 */
  color: rgb(0, 0, 0); /* 텍스트 색상 */
}

/* 인기 장소 목록 스타일 */
.popular-places-list {
  width: 100%; /* 전체 너비를 100%로 설정 */
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 여백 제거 */
  display: flex;
  flex-direction: column; /* 리스트 아이템들을 세로로 배치 */
  gap: 10px; /* 아이템들 사이에 여백 추가 */
}

/* 개별 리스트 아이템 스타일 */
.popular-place-item {
  display: flex;
  align-items: center;
  transition: background-color 0.3s, transform 0.3s;
  border: 2px solid #feb98e;
  border-radius: 8px;
  margin-bottom: 3px;
  padding: 5px;
  background-color: #ffffff; /* 배경색을 흰색으로 설정 */
  color: #313131; /* 텍스트 색상 조정 */
}

/* hover 효과 제거 */
.popular-place-item:hover {
  background-color: #feb98e; /* hover 시 배경색 유지 */
  /* transform: none; hover 시 변형 제거 */
}

/* 링크 스타일링 */
.place-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

/* 아바타 이미지 스타일링 */
.place-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 20px;
  border: 2px solid #feb98e; /* 아바타 테두리 추가 */
  border-radius: 8px; /* 이미지 모서리 둥글게 */
}

/* 장소 상세 정보 스타일링 */
.place-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 커스텀 폰트 적용 */
.custom-font {
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

/* 장소 이름 스타일링 */
.place-name {
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

/* 좋아요 수 스타일링 */
.place-like {
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
  font-size: 0.9rem;
  color: #757575;
}

/* "더 확인하러 가기!" 버튼 스타일 */
.see-more-button {
  background-color: #feb98e !important;
  color: white;
  padding: 10px 20px;
  border: none !important;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #fd7e50 !important;
}

/*******************************************************************************/
/* Common CSS */
/*******************************************************************************/

/* 공통 섹션 스타일 */
.popular-sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: auto;
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

.popular-section {
  border: 2px solid #febe98;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s;
  pointer-events: auto;
  cursor: pointer;
}

