/* PopularPlaces.css */

/* .popular-places-container 스타일 */
.popular-places-container,
.popular-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px; /* 최소 높이 지정 */
  padding: 0px 20px;
}

/* Carousel 스타일 */
.popular-place-carousel {
  width: 100%;
  max-width: 800px; /* 캐러셀의 최대 너비 설정 */
  margin-bottom: 20px; /* 캐러셀과 버튼 사이의 간격 줄임 */
  
}

/* Carousel Item 스타일 */
.popular-place-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Carousel Item의 높이를 자동으로 조절 */
  padding: 10px; /* 아이템과 테두리 사이에 패딩 추가 */
}

/* Card 스타일 */
.popular-place-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: visible; /* overflow: hidden에서 visible로 변경 */
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
  max-width: 100%; /* 카드 너비가 너무 커지지 않도록 제한 */

}

.popular-place-card.visible {
  opacity: 1;
  border: none;
  transform: translateY(0);
  animation: fadeIn 0.5s ease forwards;
}

.popular-place-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* 이미지 스타일 */
.place-image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

/* 카드 내부 텍스트 스타일 */
.place-details {
  padding: 20px;
  text-align: center;
}

.place-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.place-like {
  font-size: 1rem;
  color: #666;
  white-space: pre-wrap; /* 텍스트 줄바꿈 허용 */
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 버튼 컨테이너 */
.button-container {
  margin-top: 20px; /* 버튼과 아래 요소 간의 간격을 늘림 */
  text-align: center;
}

.place-sections {
  display: flex;
  flex-direction: column;
  gap: 10px;
  pointer-events: auto;
  font-family: 'Ownglyph_ParkDaHyun', sans-serif;
}

.place-section {
  border: 2px solid #febe98;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s;
  pointer-events: auto;
  cursor: pointer;
}

